# R enviroment
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto
.quarto/
_site/
_book/

# LaTeX / PDF build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
/.quarto/
**/*.quarto_ipynb
