css styles

/* Make the navbar thinner */
.navbar {
  --bs-navbar-padding-y: 0.02rem; /* Vertical padding */
}

/* area with the text */
/* .content {
  margin-left: 6rem;
  margin-right: 8rem;
} */
.content {
  margin-left: 5rem;
  margin-right: 8rem;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}

/* styling the text - paragraphs*/
.paratext {
  text-align: justify;
}
/* ------------------------- quote text i.e. quotation */
.paratext .paratext_quote {
  margin: auto;
  width: 80%;
  text-align: justify;
}

#quarto-sidebar {
  background-color: whitesmoke;
}

/* sidebar logo */
.sidebar-logo {
  border-radius: 10rem;
}

/* links under logo -sidebar */
.sidebar-tools-main i {
  font-size: 20px; /* Adjust this value to increase the size */
}
.sidebar-tools-main {
  margin-top: 10px;
}

/*  style all links "a" elements */
a {
  color: rgb(68, 106, 190);
  cursor: pointer;
}
a:hover {
  color: rgb(106, 137, 203);
}

/* --------------------- Style text - foot note under figures & tables (notes) */
.text_footnote_fig_tables {
  margin-bottom: 2.5rem;
  font-size: smaller;
  font-style: italic;
}

/* --------------------- style fig caption - center */
figcaption {
  margin: auto;
  text-align: center;
}

/* -----------------------------------  style the citation links -draw line from center to the ends */

.citation a {
  color: rgb(68, 106, 190);
  cursor: pointer;
  position: relative;
}

.citation a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 1px;
  background: rgb(32, 68, 144);
  transition: all 0.45s;
}

.citation a:hover::after {
  width: 100%;
  left: 0;
}

.citation a:hover {
  color: rgb(106, 137, 203);
}

/* style the table and figue citations*/
.quarto-xref {
  color: rgb(68, 106, 190);
  cursor: pointer;
  position: relative;
}

.quarto-xref:hover {
  color: rgb(106, 137, 203);
}

/* ----------------------------------------- style sidebar links : stylin if on page */

/* #quarto-sidebar > * {
  padding-right: 0em;
  padding-left: 5px;
}

.sidebar-header {
  padding-right: 1em;
}

#quarto-search {
  padding-right: 1em;
} */

.sidebar-item-container {
  padding: 5px 5px; /* Increase padding for more space around the text */
  margin-bottom: 5px; /* Add some space between menu items */
  border-radius: 3px; /* round the corners */
  padding-right: -10px;
}

/* set background color on page we are on - active page */
.sidebar-item-container:has(a.active) {
  background-color: grey;
}
.sidebar-item-container a.active .chapter-number,
.sidebar-item-container a.active .chapter-title,
.sidebar-item-container a.active .menu-text {
  color: white;
}

.sidebar-item-container a {
  color: #333; /* Set text color for links */
  text-decoration: none; /* Remove underline */
  display: block; /* Ensure the link fills the container */
}

/* ------------------------------------------ hover effect sidebar draw lines */

.sidebar-item-container a {
  color: #333;
  cursor: pointer;
  position: relative;
}

.sidebar-item-container a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 0.1px;
  background: grey;
  transition: all 0.25s;
}

.sidebar-item-container a:hover::after {
  width: 85%;
  left: 0;
}
